---
layout: default
---


![In Bagan](/images/bagan.jpg){: .medium-image }

# Tech fascinates me. So do words. 

## I'm searching for ways to blend the two together. 

At the moment, I make a living from journalism, but my goal is to move into full-time web development. Here's some of the stuff I've written. [Click here to view my journalism portfolio](http://samanthanorth.com).

For the last ten years I've lived around the world, in China, Belgium, Qatar and Turkey. That constant need to adapt to new cultures and environments has made me a better problem-solver, which helps a lot when wrangling with knarly tech issues. 

Since early 2015 I've been teaching myself web development. I'm focusing on HTML, CSS, jQuery, Javascript, Ruby, Rails and WordPress. I'm excited about joining my very first open-source project, with the nice folks at [Hoodie](http://hood.ie). More on that to follow...

I write here about my various forays into the world of tech, my struggles and my triumphs.  

<!---
<div >

  {% for post in site.posts limit:5 %}
    <article>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p class="meta">
        <time>{{ post.date | date: "%B %-d, %Y" }}</time>
          {% if post.author %}
          | {{ post.author }}
          {% endif %}
      </p>
    </article>
      {% unless forloop.last %}
      {% endunless %}
  {% endfor %}

<!-- Previous html -->
<!---
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
-->

-->
